.background {
    width: 100%;
   height: 100px;
    background-color: rgb(66, 66, 246);
    

}
.topbackground {
    width: 100%;
    height: 100px;
   
    background-image: url("../img/pattern.png");

     
}
.logo {
   
    width: 100px;
    height: 50px;
}
.descrizione{
    margin-block-start: -10px;
    font-size: small;
}
.sfondo1{
    background-color: blue;
}
.primariga{
    align-items: center;
    background-color: aqua;
}
.text-style{
    text-align: auto;
    color: white;
    margin-right: 100px;
}
.text-style2{
    width: 500px;
    height: 250px;

    text-align: left;
    color: black;
    margin-left: 50px;
    margin-right: 50px;
}
.fotofooter{
    display: block;
    margin-bottom: 10px;
}